#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.VocabQuiz {
  display: flex;
  flex-direction: column;
  gap: 112px;

  position: relative;
  bottom: 75px;
}

.word {
  display: flex;
  justify-content: center;
  gap: 1em;

  font-size: 4em;
  text-shadow: #3a3956 1px 1px 3px;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 3em;
}

button {
  background-color: #d9b9da;
  border-style: none;
  border: 2px solid #47507e;

  padding: 16px;
  border-radius: 50%;

  font-size: 3em;
  color: #ffffff;

  cursor: pointer;
  user-select: none;
}

/* button:hover:not(.correct):not(.incorrect),
button:active:not(.correct):not(.incorrect) {
  background-color: #f082ac;
} */

.correct {
  background-color: #6a78b4;
}
